{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroTagBundle::macros.html.twig' as tag %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

{% oro_title_set({params : {"%entity.summary%": entity.summary|default('N/A') }}) %}

{% block navButtons %}
    {% if resource_granted('orotracker_issue_edit') %}
        {{ UI.editButton({
            'path' : path('orotracker_issue_update', { id: entity.id }),
            'entity_label': 'oro.tracker.issue.entity_label'|trans
        }) }}
    {% endif %}

    {% if entity.type == constant('Oro\\Bundle\\TrackerBundle\\Entity\\Type::TYPE_STORY') %}
        {{ UI.button({
            'path' : path('orotracker_issue_add_child', { 'id': entity.id }),
            'label': 'oro.tracker.issue.view.add_child_label'|trans
        })
        }}
    {% endif %}

    {% if resource_granted('orotracker_issue_delete') %}
        {{ UI.deleteButton({
            'dataUrl': path('orotracker_api_delete_issue', {'id': entity.id}),
            'dataRedirect': path('orotracker_issue_index'),
            'aCss': 'no-hash remove-button',
            'id': 'btn-remove-user',
            'dataId': entity.id,
            'entity_label': 'oro.tracker.issue.entity_label'|trans
        }) }}
    {% endif %}


{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
    'entity': entity,
    'indexPath': path('orotracker_issue_index'),
    'indexLabel': 'oro.tracker.issue.entity_plural_label'|trans,
    'entityTitle': entity.summary
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {%- set taskInformation -%}
        <div class="row-fluid form-horizontal">
            <div class="responsive-block">
                {% if entity.parent %}
                    <div class="control-group">
                        <label class="control-label">{{ "oro.tracker.issue.parent.label"|trans }}</label>
                        <div class="controls">
                            <div class="control-label">
                                <a href="{{ path('orotracker_issue_view', {id: entity.parent.id}) }}">{{ entity.parent.summary }}</a>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {{ UI.renderProperty('oro.tracker.issue.code.label'|trans, entity.code) }}
                {{ UI.renderHtmlProperty('oro.tracker.issue.type.label'|trans, entity.type) }}
                {{ UI.renderProperty('oro.tracker.issue.summary.label'|trans, entity.summary) }}
                {{ UI.renderHtmlProperty('oro.tracker.issue.description.label'|trans, entity.description|nl2br) }}
                {{ UI.renderHtmlProperty('oro.tracker.issue.assignee.label'|trans, entity.assignee) }}
                {{ UI.renderHtmlProperty('oro.tracker.issue.owner.label'|trans, entity.owner) }}
                {{ UI.renderHtmlProperty('oro.tracker.issue.priority.label'|trans, entity.priority) }}
                {{ UI.renderHtmlProperty('oro.tracker.issue.resolution.label'|trans, entity.resolution) }}
                {% if resource_granted('oro_tag_view_tag_cloud') %}
                    {{ UI.renderHtmlProperty('oro.tag.entity_plural_label'|trans, tag.renderView(entity)) }}
                {% endif %}
            </div>
            <div class="responsive-block">
                {{ entityConfig.renderDynamicFields(entity) }}
            </div>
        </div>
    {%- endset -%}

    {% set dataBlocks = [
        {
            'title': 'General Information'|trans,
            'class': 'active',
            'subblocks': [
                {'data' : [taskInformation]}
            ]
        }
    ] %}

    {% if entity.children|length > 0 %}
        {% set subTaskBlock = [{
            'title': 'oro.tracker.issue.subTask'|trans,
            'class': 'active',
            'subblocks': [{
                'data' : [dataGrid.renderGrid('sub-issue-grid', {'parent_id': entity.id})]
            }]
        }] %}
        {% set dataBlocks = dataBlocks|merge(subTaskBlock) %}
    {% endif %}


    {% if entity.collaborators|length > 0 %}
        {% set CollaboratorsBlock = [{
            'title': 'oro.tracker.issue.collaborators.label'|trans,
            'class': 'active',
            'subblocks': [{
                'data' : [dataGrid.renderGrid('issue-grid-collaborators', {'issue_id': entity.id})]
            }]
        }] %}
        {% set dataBlocks = dataBlocks|merge(CollaboratorsBlock) %}
    {% endif %}

    {% if entity.myRelated|length > 0 %}
        {% set RelatedIssueBlock = [{
        'title': 'oro.tracker.issue.relatedIssue'|trans,
        'class': 'active',
        'subblocks': [{
            'data' : [dataGrid.renderGrid('issue-grid-related-issue', {'issue_id': entity.id})]
        }]
        }] %}
        {% set dataBlocks = dataBlocks|merge(RelatedIssueBlock) %}
    {% endif %}

    {% set id = 'taskView' %}
    {% set data = { 'dataBlocks': dataBlocks} %}

    {{ parent() }}
{% endblock content_data %}
